.statistics{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:90px;
}

.statistics h2{
    font-size:45px;
}

.statistics p{
    margin-top:15px;
    opacity:.9;
}

.stats-container{
    display:flex;
    justify-content:center;
    gap:35px;
    margin-top:60px;
}

.stat-card{
    background:white;
    color:#111827;
    padding:35px;
    width:220px;
    border-radius:20px;
}

.stat-card h1{
    color:#2563eb;
    font-size:45px;
}

.stat-card span{
    display:block;
    margin-top:10px;
    font-size:18px;
}